@model Afrodite_Sistema.Models.TipoClube

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Tipo do Clube</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeTipoClube)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeTipoClube)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TipoClubeId" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-primary">Voltar à Lista</a>
</div>
