@model IEnumerable<Afrodite_Sistema.Models.TipoProcedimento>

@{
    ViewData["Title"] = "Index";
}

<h1>Tipo do Procedimento</h1>

<p>
    <a asp-action="Create" class="cadastrar">Cadastrar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tipo do Procedimento
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeTipoProcedimento)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.TipoProcedimentoId" class="btn btn-primary">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.TipoProcedimentoId" class="btn btn-primary">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.TipoProcedimentoId" class="btn btn-segundo">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
