@model Afrodite_Sistema.Models.Clube

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastrar Clube</h1>

<h4>Clube</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeClube" class="control-label"></label>
                <input asp-for="NomeClube" class="form-control" />
                <span asp-validation-for="NomeClube" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoClubeId" class="control-label">Tipo do Clube</label>
                <select asp-for="TipoClubeId" class ="form-control" asp-items="ViewBag.TipoClubeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TipoPlanoId" class="control-label">Tipo do Plano</label>
                <select asp-for="TipoPlanoId" class ="form-control" asp-items="ViewBag.TipoPlanoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DetalhesClube" class="control-label"></label>
                <input asp-for="DetalhesClube" class="form-control" />
                <span asp-validation-for="DetalhesClube" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorClube" class="control-label"></label>
                <input asp-for="ValorClube" class="form-control" />
                <span asp-validation-for="ValorClube" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Voltar à Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
