@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem-Vinda(o)!</h1>
    <p>Clínica especializada em Odontologia, Estética e Nutrição.</p>
</div>

<div class="imageconcha"> 
    <img class="concha" src="/css/concha.png" />
</div>
