@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>

    <p>A Afrodite Lifecare valoriza e respeita a privacidade de seus pacientes e está comprometida com a proteção dos dados pessoais de todos que utilizam seus serviços de odontologia, estética e nutrição. Esta Política de Privacidade descreve como coletamos, usamos, armazenamos e protegemos suas informações.</p>

    <p>1. Coleta de Dados Pessoais
    Durante o agendamento e a prestação de nossos serviços, poderemos coletar as seguintes informações: 

     <p>Informações Pessoais: Nome, endereço, e-mail, telefone e outros dados de contato.
    Dados Médicos: Histórico de saúde, prontuário clínico, informações sobre tratamentos anteriores e atuais nas áreas de odontologia, estética e nutrição.
    Informações de Pagamento: Dados bancários ou de cartão de crédito para cobrança de serviços.</p>
    <p>2. Finalidade do Tratamento de Dados
    Os dados coletados são usados para: 

    Prestação de Serviços de Saúde: Utilizamos suas informações para oferecer cuidados e tratamentos nas áreas de odontologia (com os Drs. Maria Heloísa Carvalho e Leonardo Alves), estética e cosmética (com as Dras. Heloísa Ultramare e Paola Rovari) e nutrição (com o Dr. Rafael Celes Freitas).
    Comunicação: Entrar em contato para agendamento, confirmação de consultas, esclarecimento de dúvidas e envio de resultados de exames.
    Fins Administrativos e Financeiros: Processar pagamentos, enviar recibos e faturas, e para o cumprimento de obrigações fiscais e contábeis.
    Fins de Marketing (com seu consentimento): Enviar informações sobre novos serviços e promoções da clínica, caso você tenha concordado com o recebimento de tais comunicações.
    <p>3. Compartilhamento de Dados
    Seus dados não serão compartilhados com terceiros, exceto em casos necessários para:

    Cumprimento de exigências legais ou regulatórias.
    Processamento de pagamentos por meio de empresas de serviços financeiros.</p>
    Compartilhamento com outros profissionais de saúde, com o seu consentimento explícito, quando necessário para a continuidade do tratamento.</p>
    <p>4. Armazenamento de Dados
    Os dados pessoais e médicos são armazenados de forma segura em nossos sistemas, protegidos por medidas técnicas e organizacionais adequadas, como criptografia e controle de acesso restrito, para garantir sua confidencialidade e integridade.
    Prazo de Retenção: Manteremos suas informações pelo período necessário para a realização do tratamento, atendimento aos requisitos legais e cumprimento das finalidades descritas. Após esse prazo, os dados serão excluídos ou anonimizados, conforme a legislação vigente.</p>

    <p>5. Direitos dos Pacientes
    De acordo com a Lei Geral de Proteção de Dados (LGPD), você tem os seguintes direitos:

    Acessar suas informações pessoais.
    Corrigir dados incorretos ou desatualizados.
    Solicitar a exclusão de dados pessoais, exceto quando a manutenção for necessária para cumprimento de obrigações legais.
    Revogar o consentimento para o uso de seus dados, sem afetar o tratamento anterior.
    Para exercer seus direitos, entre em contato com nossa equipe pelo e-mail privacidade@afroditelifecare.com.</p>

     <p>6. Segurança dos Dados
    Adotamos medidas de segurança apropriadas para proteger suas informações contra acessos não autorizados, perda, alteração ou divulgação indevida. Utilizamos criptografia de dados, protocolos de segurança e práticas rigorosas de controle de acesso.</p>

    <p>7. Alterações na Política de Privacidade
    Esta Política de Privacidade pode ser atualizada a qualquer momento, conforme a necessidade ou para atender a novas regulamentações. As atualizações serão comunicadas por meio de nosso site ou por e-mail.</p>

    <p>8. Contato</p>
    <p>Se tiver dúvidas sobre esta Política de Privacidade ou sobre como tratamos seus dados pessoais, entre em contato conosco:</p>

    <p>Afrodite Lifecare E-mail: afroditelifecare@gmail.com</p>
<p>Telefone: (14) 98144-8012</p>

<p>Essa política reflete o compromisso da Afrodite Lifecare com a privacidade e segurança de seus pacientes em todas as áreas de atuação da clínica.</p>

