@model Afrodite_Sistema.Models.PagamentoAgendamento

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Pagamento do Agendamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agendamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agendamento.AgendamentoId)
        </dd>
        <dt class = "col-sm-2">
            Forma de Pagamento
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormaPagamento.NomeFormaPagamento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PagamentoAgendamentoId" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-primary">Voltar à Lista</a>
</div>
