@model Afrodite_Sistema.Models.Procedimento

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastrar</h1>

<h4>Procedimento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeProcedimento" class="control-label"></label>
                <input asp-for="NomeProcedimento" class="form-control" />
                <span asp-validation-for="NomeProcedimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorProcedimento" class="control-label"></label>
                <input asp-for="ValorProcedimento" class="form-control" />
                <span asp-validation-for="ValorProcedimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Voltar à lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
